{{block "contact-page" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- htmx cdn -->
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
    <!-- paper css cdn -->
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.9.2/dist/paper.min.css">
    <!-- original css -->
    <link rel="stylesheet" href="/css/index.css">

    <title>Contact</title>
</head>

<body>
    <div class="background-warning padding-small">
        {{template "form-contact" .Form }}
        <hr>
        {{template "display" .Data }}
    </div>
    <script>
        document.body.addEventListener('htmx:beforeSwap', function (evt) {
            // Allow 422 and 400 responses to swap
            // We treat these as form validation errors
            if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 400) {
                evt.detail.shouldSwap = true;
                evt.detail.isError = false;
            }
        });
    </script>
</body>

</html>
{{end}}

{{ block "display" . }}
<div id="display">
    {{ range .Contacts}}
    {{template "contact" .}}
    {{end}}
</div>
{{ end }}

{{block "form-contact" .}}
<form hx-swap="outerHTML" hx-post="/contacts">
    <div class="padding-small">
        Username: <input {{if .Values.username }} value="{{ .Values.username}}" {{end}} type="text" name="username">
        E-mail: <input {{if .Values.email }} value="{{ .Values.email}}" {{end}} type="text" name="email">

        {{ if .Errors.email}}
        <div class="text-danger">{{ .Errors.email }}</div>
        {{end}}
    </div>
    <div class="padding-small">
        <button class="padding-small" type="submit">Create Contact</button>
    </div>
</form>
{{end}}

{{block "contact" . }}
<div id="contact-{{ .Id }}" class="padding-small text-danger" style="display: flex;">
    <div hx-target="#contact-{{ .Id}}" hx-swap="outerHTML" hx-delete="/contacts/{{ .Id }}"
        style="width: 1rem; cursor: pointer;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
            <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
        </svg>
    </div>
    Username: <span class="text-secondary">{{ .Username }}</span>
    Email: <span class="text-secondary">{{ .Email }}</span>
    <div class="htmx-indicator">
        <img src="/images/bars.svg" alt="loading" style="width: 1rem;">
    </div>
</div>
{{end}}

{{block "oob-contact" . }}
<div id="display" hx-swap-oob="afterbegin" class="padding-small text-secondary">
    {{ template "contact" . }}
</div>
{{end}}